<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MordernBangladesh"
        tools:targetApi="31">
        <activity
            android:name=".Chandpur"
            android:exported="false" />
        <activity
            android:name=".Brahmanbaria"
            android:exported="false" />
        <activity
            android:name=".Noakhali"
            android:exported="false" />
        <activity
            android:name=".Comilla"
            android:exported="false" />
        <activity
            android:name=".Feni"
            android:exported="false" />
        <activity
            android:name=".Khagrachari"
            android:exported="false" />
        <activity
            android:name=".Bandarban"
            android:exported="false" />
        <activity
            android:name=".Ranamati"
            android:exported="false" />
        <activity
            android:name=".CoxBazar"
            android:exported="false" />
        <activity
            android:name=".chittagong2"
            android:exported="false" />
        <activity
            android:name=".Jhalokati"
            android:exported="false" />
        <activity
            android:name=".Borguna"
            android:exported="false" />
        <activity
            android:name=".Pirojpur"
            android:exported="false"
            android:theme="@style/Theme.MordernBangladesh" />
        <activity
            android:name=".Bhola"
            android:exported="false" />
        <activity
            android:name=".Patuakhali"
            android:exported="false" />
        <activity
            android:name=".Barishal2"
            android:exported="false" />
        <activity
            android:name=".Sherpur"
            android:exported="false" />
        <activity
            android:name=".Netrokon"
            android:exported="false"
            android:theme="@style/Theme.MordernBangladesh" />
        <activity
            android:name=".Jamalpur"
            android:exported="false" />
        <activity
            android:name=".Mymenshing2"
            android:exported="false" />
        <activity
            android:name=".Sunamganj"
            android:exported="false" />
        <activity
            android:name=".Moulvibazar"
            android:exported="false" />
        <activity
            android:name=".Habigang"
            android:exported="false" />
        <activity
            android:name=".Sylhet2"
            android:exported="false" />
        <activity
            android:name=".Gaibandha"
            android:exported="false" />
        <activity
            android:name=".Thakurgaon"
            android:exported="false" />
        <activity
            android:name=".Dinajpur"
            android:exported="false" />
        <activity
            android:name=".Nilphamari"
            android:exported="false" />
        <activity
            android:name=".Lalmonirhat"
            android:exported="false" />
        <activity
            android:name=".Kurogram"
            android:exported="false" />
        <activity
            android:name=".Panchagarh"
            android:exported="false" />
        <activity
            android:name=".Rangpur2"
            android:exported="false" />
        <activity
            android:name=".Joypurhat"
            android:exported="false" />
        <activity
            android:name=".Bogura"
            android:exported="false" />
        <activity
            android:name=".Sirajganj"
            android:exported="false" />
        <activity
            android:name=".Pabna"
            android:exported="false" />
        <activity
            android:name=".Naogaon"
            android:exported="false" />
        <activity
            android:name=".Natore"
            android:exported="false" />
        <activity
            android:name=".Chapainawabganj"
            android:exported="false" />
        <activity
            android:name=".Rajshahi2"
            android:exported="false" />
        <activity
            android:name=".Meherpur"
            android:exported="false" />
        <activity
            android:name=".Chuadanga"
            android:exported="false" />
        <activity
            android:name=".Kushtia"
            android:exported="false" />
        <activity
            android:name=".Narail"
            android:exported="false" />
        <activity
            android:name=".Jhenaidah"
            android:exported="false" />
        <activity
            android:name=".Magura"
            android:exported="false" />
        <activity
            android:name=".Jashore"
            android:exported="false" />
        <activity
            android:name=".Satkhira"
            android:exported="false" />
        <activity
            android:name=".Bagerhat"
            android:exported="false" />
        <activity
            android:name=".khulna2"
            android:exported="false" />
        <activity
            android:name=".Shariatpur"
            android:exported="false" />
        <activity
            android:name=".Rajbari"
            android:exported="false" />
        <activity
            android:name=".Madaripur"
            android:exported="false" />
        <activity
            android:name=".Gopalganj"
            android:exported="false" />
        <activity
            android:name=".Fridpur"
            android:exported="false" />
        <activity
            android:name=".Netrokona"
            android:exported="false" />
        <activity
            android:name=".Kishoreganj"
            android:exported="false" />
        <activity
            android:name=".Tangail"
            android:exported="false" />
        <activity
            android:name=".Narshindi"
            android:exported="false" />
        <activity
            android:name=".Munshigang"
            android:exported="false" />
        <activity
            android:name=".Manikganj"
            android:exported="false"
            android:theme="@style/Theme.MordernBangladesh" />
        <activity
            android:name=".Gazipur"
            android:exported="false" />
        <activity
            android:name=".Narayanganj"
            android:exported="false" />
        <activity
            android:name=".Dhaka2"
            android:exported="false" />
        <activity
            android:name=".chittagong"
            android:exported="false" />
        <activity
            android:name=".Mymenshing"
            android:exported="false" />
        <activity
            android:name=".Rajshahi"
            android:exported="false" />
        <activity
            android:name=".Sylhet"
            android:exported="false" />
        <activity
            android:name=".Barishal"
            android:exported="false" />
        <activity
            android:name=".Rangpur"
            android:exported="false" />
        <activity
            android:name=".Khulna"
            android:exported="false" />
        <activity
            android:name=".Dhaka"
            android:exported="false" />
        <activity
            android:name=".District"
            android:exported="false" />
        <activity
            android:name=".MainActivity2"
            android:exported="false"
            android:theme="@style/Theme.MordernBangladesh" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>